@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}
#root{
  background-color: #fff;
}
.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}